/* Greg Koenig ASD 1306
*/
#fromLocalStorage{
    background-color: rgb(255,255,255);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius:15px;
    /*width: 100%;*/
    
}
#fromJSON{
    background-color: rgb(255,255,255);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius:15px;
    /*width: 100%;*/
    
}
#fromOther{
    background-color: rgb(255,255,255);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius:15px;
    /*width: 100%;*/
    
}
#fromCouch{
    background-color: rgb(255,255,255);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius:15px;
    /*width: 100%;*/
    
}

#resulttable{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
   	width: 100%;
    
}

.score{
	width: 50px;

}